#header{
height: 100px;
background-color: aquamarine;
margin-bottom: 30px;
}
#side-nav{
height: 400px;
width: 200px;
background-color: darkolivegreen;
display: inline-block;
vertical-align: top;
}

#main{
    height: 600px;
    width: 500px;
    background-color: indigo;
    display: inline-block;
}
#sqr{
    height: 100px;
    width: 100px;
    background-color: yellow;
}